@font-face {
    font-family: 'Reg';
    src: url('../assets/fonts/BaiJamjuree-Bold.ttf') format("truetype");
    font-display: swap;
}

body {
    font-family: 'Reg';
    text-align: center;
}

#gameContainer {
    border: 1px solid #333333;
    /*background-color: #959595;*/
}

