@font-face {
    font-family: 'Reg';
    src: url('assets/fonts/BaiJamjuree-Bold.ttf') format("truetype");
    font-display: swap;
}

body {
    font-family: 'Reg';
    text-align: center;
}

#board {
    background-color: blue;
}

