@font-face {
    font-family: 'Reg';
    src: url('../assets/fonts/BaiJamjuree-Bold.ttf') format("truetype");
    font-display: swap;
}

body {
    font-family: 'Reg', serif;
    text-align: center;
}


#gameContainer {
    padding: 15px;
}
